Repository glotzerlab/signac, changes with the owners that .github/CODEOWNERS names for each.
All owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors, @glotzerlab/signac-maintainers

.github/CODEOWNERS:

# Request one committer and one contributor per PR.
* @glotzerlab/signac-committers @glotzerlab/signac-contributors
# Request maintainers for changes in requirements
requirements/* @glotzerlab/signac-maintainers
requirements.txt @glotzerlab/signac-maintainers
doc/requirements.txt @glotzerlab/signac-maintainers
.pre-commit-config.yaml @glotzerlab/signac-maintainers

Fail on DeprecationWarnings and FutureWarnings raised by signac.
  setup.cfg
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update DeprecationWarning to FutureWarning.
  setup.cfg
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Replace deprecation imports with vendored deprecation.
  signac/cite.py
  signac/common/config.py
  signac/common/connection.py
  signac/common/crypt.py
  signac/common/host.py
  signac/contrib/filesystems.py
  signac/contrib/indexing.py
  signac/contrib/job.py
  signac/contrib/mpipool.py
  signac/contrib/utility.py
  signac/core/json.py
  signac/core/jsondict.py
  signac/core/synceddict.py
  signac/core/utility.py
  signac/db/database.py
  signac/syncutil.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Replace pytest.deprecated_call() with pytest.warns(FutureWarning).
  tests/test_buffered_mode.py
  tests/test_db.py
  tests/test_indexing.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Drop requirement for deprecation package.
  .circleci/ci-oldest-reqs.txt
  requirements.txt
  setup.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors, @glotzerlab/signac-maintainers

Update changelog.
  changelog.txt
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove non-string key support.
  signac/synced_collections/backends/collection_json.py
  signac/synced_collections/data_types/synced_dict.py
  signac/synced_collections/validators.py
  tests/test_job.py
  tests/test_jsondict.py
  tests/test_synced_collections/test_json_collection.py
  tests/test_synced_collections/test_validators.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update changelog.
  changelog.txt
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Add deprecation as a benchmarking requirement (it is a requirement for older signac versions).
  requirements/requirements-benchmark.txt
Owners: @glotzerlab/signac-maintainers

Revert "Add deprecation as a benchmarking requirement (it is a requirement for older signac versions)."
  requirements/requirements-benchmark.txt
Owners: @glotzerlab/signac-maintainers

adding issue numbers
  signac/contrib/project.py
  signac/synced_collections/backends/collection_json.py
  signac/synced_collections/buffers/file_buffered_collection.py
  signac/synced_collections/data_types/synced_dict.py
  signac/synced_collections/validators.py
  tests/test_synced_collections/synced_collection_test.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

adding issue numbers (#730)
  signac/contrib/project.py
  signac/synced_collections/backends/collection_json.py
  signac/synced_collections/buffers/file_buffered_collection.py
  signac/synced_collections/data_types/synced_dict.py
  signac/synced_collections/validators.py
  tests/test_synced_collections/synced_collection_test.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Replace deprecation decorator with vendored deprecation decorator for FutureWarnings (#718)
  .circleci/ci-oldest-reqs.txt
  changelog.txt
  requirements.txt
  setup.py
  signac/cite.py
  signac/common/config.py
  signac/common/connection.py
  signac/common/crypt.py
  signac/common/host.py
  signac/contrib/filesystems.py
  signac/contrib/indexing.py
  signac/contrib/job.py
  signac/contrib/mpipool.py
  signac/contrib/utility.py
  signac/core/json.py
  signac/core/jsondict.py
  signac/core/synceddict.py
  signac/core/utility.py
  signac/db/database.py
  signac/syncutil.py
  tests/test_buffered_mode.py
  tests/test_db.py
  tests/test_indexing.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors, @glotzerlab/signac-maintainers

Update filtered warnings.
  setup.cfg
  tests/test_indexing.py
  tests/test_job.py
  tests/test_jsondict.py
  tests/test_project.py
  tests/test_sync.py
  tests/test_synced_attrdict.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Raise errors for uncaught FutureWarnings / DeprecationWarnings in signac. (#713)
  setup.cfg
  tests/test_job.py
  tests/test_jsondict.py
  tests/test_project.py
  tests/test_sync.py
  tests/test_synced_attrdict.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Replace _id with id_ (#717)
  changelog.txt
  signac/__main__.py
  signac/contrib/job.py
  signac/contrib/project.py
  tests/test_job.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Add PT to contribs
  contributors.yaml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update contributors.yaml
  contributors.yaml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Add PT to contributors (#732)
  contributors.yaml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Use orbs for codecov.
  .circleci/config.yml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Address PR comments.
  signac/contrib/project.py
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

PR comments.
  signac/__main__.py
  signac/contrib/import_export.py
  signac/contrib/job.py
  signac/contrib/linked_view.py
  signac/contrib/project.py
  signac/sync.py
  tests/test_job.py
  tests/test_project.py
  tests/test_shell.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Fix deprecation import.
  signac/contrib/schema.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update pre-commit to get fixed version of black.
  .pre-commit-config.yaml
  signac/contrib/import_export.py
  signac/core/jsondict.py
  signac/synced_collections/buffers/serialized_file_buffered_collection.py
Owners: @glotzerlab/signac-maintainers, @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update pre-commit to get fixed version of black. (#740)
  .pre-commit-config.yaml
  signac/contrib/import_export.py
  signac/core/jsondict.py
  signac/synced_collections/buffers/serialized_file_buffered_collection.py
Owners: @glotzerlab/signac-maintainers, @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove cached_property TODOs.
  signac/contrib/job.py
  signac/contrib/project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Disable multithreading test on Windows.
  tests/test_synced_collections/synced_collection_test.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Push Codecov on all platforms.
  .circleci/config.yml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Additional deprecations (#685)
  signac/__main__.py
  signac/cite.py
  signac/contrib/import_export.py
  signac/contrib/indexing.py
  signac/contrib/job.py
  signac/contrib/linked_view.py
  signac/contrib/project.py
  signac/contrib/schema.py
  signac/core/utility.py
  signac/sync.py
  signac/testing.py
  tests/test_job.py
  tests/test_project.py
  tests/test_shell.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Use orbs for codecov. (#739)
  .circleci/config.yml
  tests/test_synced_collections/synced_collection_test.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove JSONDict component. (#577)
  signac/__init__.py
  signac/common/host.py
  signac/contrib/indexing.py
  signac/core/attrdict.py
  signac/core/json.py
  signac/core/jsondict.py
  signac/core/synceddict.py
  signac/errors.py
  tests/test_buffered_mode.py
  tests/test_jsondict.py
  tests/test_sync.py
  tests/test_synced_attrdict.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove deprecated mpipool and filesystems modules. (#575)
  doc/conf.py
  setup.cfg
  setup.py
  signac/__init__.py
  signac/contrib/__init__.py
  signac/contrib/filesystems.py
  signac/contrib/mpipool.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove easily deprecated functions from project.py (#574)
  benchmark.py
  doc/api.rst
  signac/__main__.py
  signac/contrib/project.py
  tests/test_job.py
  tests/test_project.py
  tests/test_shell.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove deprecated job.get_id() (#578)
  benchmark.py
  doc/api.rst
  signac/contrib/job.py
  tests/test_buffered_mode.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove database and host components. (#576)
  doc/installation.rst
  setup.cfg
  setup.py
  signac/__init__.py
  signac/__main__.py
  signac/common/connection.py
  signac/common/crypt.py
  signac/common/host.py
  signac/contrib/utility.py
  signac/core/utility.py
  signac/db/__init__.py
  signac/db/database.py
  tests/test_db.py
  tests/test_indexing.py
  tests/test_shell.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove syncutil.copytree. (#581)
  signac/syncutil.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove deprecated utility functions/classes. (#589)
  signac/contrib/utility.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove public API of indexing module. (#580)
  doc/api.rst
  doc/cli.rst
  setup.cfg
  signac/__init__.py
  signac/__main__.py
  signac/contrib/__init__.py
  signac/contrib/indexing.py
  signac/contrib/project.py
  tests/test_indexing.py
  tests/test_project.py
  tests/test_shell.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Clean up utility functions. (#597)
  signac/__main__.py
  signac/contrib/project.py
  signac/contrib/utility.py
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove cite submodule. (#594)
  doc/api.rst
  signac/__init__.py
  signac/cite.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors
