Repository glotzerlab/signac, changes with the owners that .github/CODEOWNERS names for each.
All owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors, @glotzerlab/signac-maintainers

Avoid AssertionError.
  signac/contrib/import_export.py
  signac/contrib/project.py
  signac/contrib/utility.py
  signac/synced_collections/_caching.py
  tests/test_synced_collections/test_mongodb_collection.py
  tests/test_synced_collections/test_redis_collection.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update changelog.
  changelog.txt
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Fix H5Store.mode. (#607)
  changelog.txt
  signac/core/h5store.py
  tests/test_h5store.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove public utility methods (#606)
  signac/__main__.py
  signac/contrib/utility.py
  signac/core/utility.py
  signac/sync.py
  tests/test_versioning.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Fix redis check.
  signac/synced_collections/_caching.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Avoid AssertionError. (#612)
  changelog.txt
  signac/contrib/import_export.py
  signac/contrib/project.py
  signac/contrib/utility.py
  signac/synced_collections/_caching.py
  tests/test_synced_collections/test_mongodb_collection.py
  tests/test_synced_collections/test_redis_collection.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove doc_filter argument (#586)
  signac/__main__.py
  signac/contrib/project.py
  tests/test_project.py
  tests/test_shell.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Fix name in merge conflict.
  signac/contrib/project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Revert modifications to global configuration file after test completes.
  tests/test_shell.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Handle case where global config does not exist.
  tests/test_shell.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Revert modifications to global configuration file after test completes. (#614)
  tests/test_shell.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Fix bug for when CLI signac find command used with lists
  signac/contrib/filterparse.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

add test for using signac find with lists
  tests/test_shell.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Clarify _is_json test and remove _is_list test
  signac/contrib/filterparse.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Replace _is_json with try-except tests
  signac/contrib/filterparse.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Test for json like inputs; Remove try-except statements
  signac/contrib/filterparse.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Style changes
  signac/contrib/filterparse.py
  tests/test_shell.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Fix bug for when CLI signac find command used with lists (#622)
  signac/contrib/filterparse.py
  tests/test_shell.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update filelock pinning to >= instead of ~=.
  requirements.txt
  setup.py
Owners: @glotzerlab/signac-maintainers, @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update filelock pinning to >= instead of ~=. (#627)
  requirements.txt
  setup.py
Owners: @glotzerlab/signac-maintainers, @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Add basic asv configuration.
  .gitignore
  .pre-commit-config.yaml
  asv.conf.json
  benchmarks/__init__.py
  benchmarks/benchmarks.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors, @glotzerlab/signac-maintainers

Parameterize benchmarks.
  benchmarks/benchmarks.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Add back manual temp dir.
  benchmarks/benchmarks.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Add Python 3.10 to CI
  .circleci/config.yml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Add Python 3.10 to setup.py classifiers.
  setup.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update changelog.
  changelog.txt
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Change lingering 3.9 containers in CI
  .circleci/config.yml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Change CI version.
  .circleci/config.yml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update shell test.
  tests/test_shell.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Add comment.
  tests/test_shell.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Add ReadTheDocs config file.
  .readthedocs.yaml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update RTD requirements.
  .readthedocs.yaml
  doc/requirements.txt
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors, @glotzerlab/signac-maintainers

Remove IPython/nbsphinx since all example notebooks are now in signac-docs and signac-examples.
  doc/conf.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update ReadTheDocs requirements. (#632)
  .readthedocs.yaml
  doc/conf.py
  doc/requirements.txt
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors, @glotzerlab/signac-maintainers

Two places to catch the problem
  signac/contrib/import_export.py
  signac/contrib/linked_view.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Use minimal dependences for Python 3.10 testing
  .circleci/config.yml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update changelog
  changelog.txt
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Switch print statement to error for final
  signac/contrib/import_export.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Clean up thinking code
  signac/contrib/linked_view.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

invert links dictionary internally
  signac/contrib/linked_view.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

.github/CODEOWNERS:

# Request one committer and one contributor per PR.
* @glotzerlab/signac-committers @glotzerlab/signac-contributors
# Request maintainers for changes in requirements
requirements/* @glotzerlab/signac-maintainers
requirements.txt @glotzerlab/signac-maintainers
doc/requirements.txt @glotzerlab/signac-maintainers
.pre-commit-config.yaml @glotzerlab/signac-maintainers
