Repository glotzerlab/signac, changes with the owners that .github/CODEOWNERS names for each.
All owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors, @glotzerlab/signac-maintainers

.github/CODEOWNERS:

# Request one committer and one contributor per PR.
* @glotzerlab/signac-committers @glotzerlab/signac-contributors
# Request maintainers for changes in requirements
requirements/* @glotzerlab/signac-maintainers
requirements.txt @glotzerlab/signac-maintainers
doc/requirements.txt @glotzerlab/signac-maintainers
.pre-commit-config.yaml @glotzerlab/signac-maintainers

Update changelog.txt
  changelog.txt
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update signac/contrib/project.py
  signac/contrib/project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update tests/test_project.py
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove use of root.
  signac/common/config.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Refactor docs for fn/isfile methods.
  signac/contrib/job.py
  signac/contrib/project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Bradley check these rewordings
  signac/contrib/project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Replace outdated job workspace directory
  signac/contrib/project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

One more outdated job workspace directory
  signac/contrib/project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Apply minor changes
  signac/contrib/job.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Describe path argument searching
  signac/contrib/project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Rename `root` parameter to `path`. (#758)
  benchmarks/benchmarks.py
  changelog.txt
  signac/__main__.py
  signac/common/config.py
  signac/contrib/job.py
  signac/contrib/project.py
  signac/sync.py
  tests/test_diff.py
  tests/test_job.py
  tests/test_project.py
  tests/test_shell.py
  tests/test_sync.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update 2.0 documentation. (#759)
  doc/api.rst
  doc/cli.rst
  doc/index.rst
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Add links to the query api for view and find
  signac/__main__.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Add line breaks to find and view cli commands
  signac/__main__.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Fix usage of job directory
  signac/__main__.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Switch to FlexiFormatter
  signac/__main__.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update requirements
  doc/requirements.txt
  requirements.txt
Owners: @glotzerlab/signac-maintainers

Use RawDescriptionHelpFormatter with manually formatted strings.
  doc/requirements.txt
  requirements.txt
  signac/__main__.py
Owners: @glotzerlab/signac-maintainers, @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Add links to the query api page in view and find --help (#761)
  signac/__main__.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Refactor and simplify code printing to stderr.
  signac/__main__.py
  signac/contrib/filterparse.py
  signac/contrib/migration/__init__.py
  signac/contrib/utility.py
  tests/test_find_command_line_interface.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Document optional parameters.
  signac/contrib/_searchindexer.py
  signac/contrib/filterparse.py
  signac/contrib/import_export.py
  signac/contrib/job.py
  signac/contrib/linked_view.py
  signac/contrib/project.py
  signac/contrib/schema.py
  signac/contrib/utility.py
  signac/sync.py
  signac/syncutil.py
  signac/testing.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove indication of default values when no default exists.
  signac/contrib/_searchindexer.py
  signac/contrib/import_export.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Add optional parameter docstrings to synced collections.
  signac/synced_collections/buffers/memory_buffered_collection.py
  signac/synced_collections/data_types/synced_dict.py
  signac/synced_collections/data_types/synced_list.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Fix copytree docs and unify default parameter logic.
  signac/contrib/import_export.py
  signac/contrib/project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Refactor import-export logic and update docs.
  signac/contrib/import_export.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update documentation for get_project and get_job.
  signac/contrib/project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove unused helper function _skip_errors.
  signac/contrib/project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Refactor _nested_dicts_to_dotted_keys to always encode.
  signac/contrib/utility.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Inline _encode_tree.
  signac/contrib/utility.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Test cibuildwheel.
  .github/workflows/build_wheels.yml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove JSONDict component. (#577)
  changelog.txt
  signac/__init__.py
  signac/common/host.py
  signac/contrib/indexing.py
  signac/core/attrdict.py
  signac/core/json.py
  signac/core/jsondict.py
  signac/core/synceddict.py
  signac/errors.py
  tests/test_buffered_mode.py
  tests/test_jsondict.py
  tests/test_sync.py
  tests/test_synced_attrdict.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove deprecated mpipool and filesystems modules. (#575)
  changelog.txt
  doc/conf.py
  setup.cfg
  setup.py
  signac/__init__.py
  signac/contrib/__init__.py
  signac/contrib/filesystems.py
  signac/contrib/mpipool.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove easily deprecated functions from project.py (#574)
  benchmark.py
  changelog.txt
  doc/api.rst
  signac/__main__.py
  signac/contrib/project.py
  tests/test_job.py
  tests/test_project.py
  tests/test_shell.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove deprecated job.get_id() (#578)
  benchmark.py
  changelog.txt
  doc/api.rst
  signac/contrib/job.py
  tests/test_buffered_mode.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove database and host components. (#576)
  changelog.txt
  doc/installation.rst
  setup.cfg
  setup.py
  signac/__init__.py
  signac/__main__.py
  signac/common/connection.py
  signac/common/crypt.py
  signac/common/host.py
  signac/contrib/utility.py
  signac/core/utility.py
  signac/db/__init__.py
  signac/db/database.py
  tests/test_db.py
  tests/test_indexing.py
  tests/test_shell.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove unused functions. (#598)
  signac/contrib/collection.py
  signac/contrib/linked_view.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Replace Collection with lightweight _SearchIndexer. (#667)
  signac/contrib/_index.py
  signac/contrib/import_export.py
  signac/contrib/project.py
  signac/contrib/schema.py
  tests/test_collection.py
  tests/test_project.py
  tests/test_searchindexer.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove hosts validators (#596)
  changelog.txt
  signac/common/config.py
  signac/common/validate.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove user-provided project name from API (#677)
  signac/__main__.py
  signac/contrib/project.py
  tests/test_diff.py
  tests/test_job.py
  tests/test_project.py
  tests/test_shell.py
  tests/test_sync.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove doc_filter argument (#586)
  signac/__main__.py
  signac/contrib/project.py
  tests/test_project.py
  tests/test_shell.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors
