Repository glotzerlab/signac, changes with the owners that .github/CODEOWNERS names for each.
All owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors, @glotzerlab/signac-maintainers

.github/CODEOWNERS:

# Request one committer and one contributor per PR.
* @glotzerlab/signac-committers @glotzerlab/signac-contributors
# Request maintainers for changes in requirements
requirements/* @glotzerlab/signac-maintainers
requirements.txt @glotzerlab/signac-maintainers
doc/requirements.txt @glotzerlab/signac-maintainers
.pre-commit-config.yaml @glotzerlab/signac-maintainers

Doc fixes.
  changelog.txt
  doc/api.rst
  signac/job.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update code comments
  signac/job.py
  tests/test_job.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Test on the latest macos-14 runners.
  .github/workflows/run-pytest.yml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Automatically update GitHub actions versions with dependabot.
  .github/dependabot.yml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Mention the discussion board in the README.
  README.md
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Use latest github actions versions.
  .github/workflows/publish-packages.yml
  .github/workflows/run-pytest.yml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Switch back to macos-latest on failing builds.
  .github/workflows/run-pytest.yml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Use cached_statepoint in to_dataframe.
  signac/project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Restore iteration order.
  signac/project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Validate cached_statpoing when read from disk.
  signac/project.py
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update dependabot, actions, and the readme. (#976)
  .github/dependabot.yml
  .github/workflows/publish-packages.yml
  .github/workflows/run-pytest.yml
  README.md
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Use cached_statepoint in groupby.
  signac/project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove ruamel.yaml dependency.
  requirements/requirements-test-optional.txt
Owners: @glotzerlab/signac-maintainers

Update changelog
  changelog.txt
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove ruamel.yaml dependency. (#981)
  changelog.txt
  requirements/requirements-test-optional.txt
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors, @glotzerlab/signac-maintainers

Remove duplicate Alain
  contributors.yaml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Add Josh
  contributors.yaml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove validate argument from update_cache.
  signac/project.py
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update contributors (#982)
  contributors.yaml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Write state point as two words in doc strings
  changelog.txt
  signac/job.py
  signac/project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Add Job.cached_statepoint for fast read access to state point (#975)
  changelog.txt
  doc/api.rst
  signac/job.py
  signac/project.py
  tests/test_job.py
  tests/test_numpy_integration.py
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update changelog
  changelog.txt
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Bump up to version 2.2.0.
  .bumpversion.cfg
  CITATION.cff
  doc/conf.py
  pyproject.toml
  signac/version.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Run pre-commit.
  .bumpversion.cfg
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Release/2.2.0 (#984)
  .bumpversion.cfg
  CITATION.cff
  changelog.txt
  doc/conf.py
  pyproject.toml
  signac/version.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Group dependabot updates.
  .github/dependabot.yml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Try changing requirements for ARM Mac runners.
  .github/workflows/ci-oldest-reqs.txt
  requirements/requirements-test-optional.txt
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors, @glotzerlab/signac-maintainers

Use earliest pandas wheels for macOS ARM.
  .github/workflows/ci-oldest-reqs.txt
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update h5py and pandas.
  .github/workflows/ci-oldest-reqs.txt
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update tests for numpy 2
  tests/test_h5store.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Bump numpy in optional test requirements
  requirements/requirements-test-optional.txt
Owners: @glotzerlab/signac-maintainers

Address readthedocs deprecations.
  doc/conf.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Address readthedocs deprecations. (#1001)
  doc/conf.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Point users to the GitHub discussion board.
  doc/support.rst
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Point users to the GitHub discussion board. (#1002)
  doc/support.rst
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Skip tables (pytables) tests if ValueError on import
  tests/test_h5store.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update changelog
  changelog.txt
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Support numpy 2 in tests (#997)
  changelog.txt
  requirements/requirements-test-optional.txt
  tests/test_h5store.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors, @glotzerlab/signac-maintainers

Use latest GitHub actions.
  .github/workflows/publish-packages.yml
  .github/workflows/run-pytest.yml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Test Python 3.9 on oldest dependencies
  .github/workflows/run-pytest.yml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors
