Repository glotzerlab/signac, changes with the owners that .github/CODEOWNERS names for each.
All owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors, @glotzerlab/signac-maintainers

Make all utility methods private.
  signac/__main__.py
  signac/contrib/utility.py
  signac/sync.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove unused Version class and parse_version function.
  signac/core/utility.py
  tests/test_versioning.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Fix and test H5store.mode property.
  signac/core/h5store.py
  tests/test_h5store.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Add some missing tests for H5Store and H5Group.
  tests/test_h5store.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update changelog.
  changelog.txt
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Fix test for write/read store.
  tests/test_h5store.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Disallow Project configuration mutation.
  signac/contrib/project.py
  tests/test_job.py
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update migration test to avoid config mutation of an initialized Project.
  signac/contrib/project.py
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove cache invalidation logic from Project root directory, workspace, and id.
  signac/contrib/project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update docs for config.
  signac/contrib/project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update changelog.
  changelog.txt
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove Project.update_statepoint from docs (missed in PR #574).
  doc/api.rst
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update buffer_backend to use buffer_capacity instead of buffer_size, remove deprecated force_write parameter.
  signac/synced_collections/buffers/buffered_collection.py
  signac/synced_collections/buffers/file_buffered_collection.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update buffer method names to match names in synced collections.
  signac/__init__.py
  tests/test_buffered_mode.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Rename "manifest" to "state point."
  benchmark.py
  signac/contrib/errors.py
  signac/contrib/import_export.py
  signac/contrib/job.py
  signac/contrib/project.py
  signac/sync.py
  tests/test_job.py
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Deprecate cite module.
  signac/cite.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update changelog.
  changelog.txt
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Add shim for benchmark compatibility.
  benchmark.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Rename ID_LENGTH.
  signac/contrib/collection.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove JobsCursor.next. (#604)
  signac/contrib/project.py
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Add deprecation warning to JobsCursor doc_filter.
  signac/contrib/project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Add doc_filter shims to CLI and JobsCursor constructor.
  signac/__main__.py
  signac/contrib/project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove doc_filter argument from find_jobs, replace with backwards compatible shim.
  signac/contrib/project.py
  tests/test_project.py
  tests/test_shell.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Duplicate tests. Wrap individual function calls in warning filters, rather than the whole test.
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Add explicit tests of passing None.
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove doc_filter from JobsCursor.__init__.
  signac/contrib/project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Add tests for explicit filter=None, doc_filter=None, invalid arguments.
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Raise TypeError instead of ValueError.
  signac/contrib/project.py
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Replace JobsCursor constructor with a call to find_jobs.
  signac/contrib/project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Catch deprecation warnings in tests using positional arguments.
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update changelog.txt
  changelog.txt
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Add test for errors if missing project id.
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Clarify relative paths.
  signac/contrib/project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update sphinx version.
  doc/requirements.txt
Owners: @glotzerlab/signac-maintainers

Require sphinx >= 3 to ensure that aliases (e.g. signac.is_buffered) are included correctly.
  doc/requirements.txt
Owners: @glotzerlab/signac-maintainers

Deprecate cite module. (#611)
  changelog.txt
  signac/cite.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Annotate performance-critical paths.
  signac/contrib/job.py
  signac/contrib/project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Fix test for project with no id in the configuration.
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Disallow Project.config mutation (#608)
  changelog.txt
  signac/contrib/job.py
  signac/contrib/project.py
  tests/test_job.py
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update buffer capacity methods for consistency with synced collections (#609)
  doc/requirements.txt
  signac/__init__.py
  signac/synced_collections/buffers/buffered_collection.py
  signac/synced_collections/buffers/file_buffered_collection.py
  tests/test_buffered_mode.py
Owners: @glotzerlab/signac-maintainers, @glotzerlab/signac-committers, @glotzerlab/signac-contributors

.github/CODEOWNERS:

# Request one committer and one contributor per PR.
* @glotzerlab/signac-committers @glotzerlab/signac-contributors
# Request maintainers for changes in requirements
requirements/* @glotzerlab/signac-maintainers
requirements.txt @glotzerlab/signac-maintainers
doc/requirements.txt @glotzerlab/signac-maintainers
.pre-commit-config.yaml @glotzerlab/signac-maintainers
