Repository glotzerlab/signac, changes with the owners that .github/CODEOWNERS names for each.
All owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors, @glotzerlab/signac-maintainers

.github/CODEOWNERS:

# Request one committer and one contributor per PR.
* @glotzerlab/signac-committers @glotzerlab/signac-contributors
# Request maintainers for changes in requirements
requirements/* @glotzerlab/signac-maintainers
requirements.txt @glotzerlab/signac-maintainers
doc/requirements.txt @glotzerlab/signac-maintainers
.pre-commit-config.yaml @glotzerlab/signac-maintainers

Show suggested corrected path in error message
  signac/contrib/utility.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Fix error in tests meant to fail
  signac/contrib/utility.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

add project tests
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

update changelog
  changelog.txt
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Add test that catches the problem
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Revert "add project tests" because they don't fail on current master
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

WIP testing of view shell command
  tests/test_shell.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update tests/test_shell.py
  tests/test_shell.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Require valid config for instantiating projects.
  signac/contrib/migration/__init__.py
  signac/contrib/project.py
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Add isolated functions for handling v1 config loading during migration.
  signac/contrib/migration/v0_to_v1.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Simplify migration logic by inlining functions.
  signac/contrib/migration/__init__.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Modify migration logic to operate on directory rather than project.
  signac/contrib/migration/__init__.py
  signac/contrib/migration/v0_to_v1.py
  signac/contrib/project.py
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update main APIs and rewrite all migration logic in terms of root directories rather than project objects.
  signac/__main__.py
  signac/contrib/migration/__init__.py
  signac/contrib/migration/v0_to_v1.py
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Address questions on config load order.
  signac/contrib/migration/__init__.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Add a proper deprecation for 0->1 migration.
  signac/contrib/migration/__init__.py
  signac/contrib/migration/v0_to_v1.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Undo copyright change.
  signac/contrib/migration/__init__.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Document the behavior of config loaders and add fallback for schema version 0.
  signac/contrib/migration/__init__.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update changelog.
  changelog.txt
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update deprecated Xcode image from 11.3.0 to 13.2.0.
  .circleci/config.yml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove tables from testing requirements since wheels are no longer available.
  requirements/requirements-test-optional.txt
Owners: @glotzerlab/signac-maintainers

Add changelog message.
  changelog.txt
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update deprecated Xcode image from 11.3.0 to 13.2.0. (#655)
  .circleci/config.yml
  changelog.txt
  requirements/requirements-test-optional.txt
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors, @glotzerlab/signac-maintainers

Update .gitignore.
  .gitignore
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Fix deprecation warnings (#603)
  setup.cfg
  signac/contrib/project.py
  tests/test_job.py
  tests/test_jsondict.py
  tests/test_project.py
  tests/test_shell.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove JobsCursor.next. (#604)
  signac/contrib/project.py
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Clean up utility functions. (#597)
  signac/__main__.py
  signac/contrib/project.py
  signac/contrib/utility.py
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update buffer capacity methods for consistency with synced collections (#609)
  doc/requirements.txt
  signac/__init__.py
  signac/synced_collections/buffers/buffered_collection.py
  signac/synced_collections/buffers/file_buffered_collection.py
  tests/test_buffered_mode.py
Owners: @glotzerlab/signac-maintainers, @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove JSONDict component. (#577)
  signac/__init__.py
  signac/common/host.py
  signac/contrib/indexing.py
  signac/core/attrdict.py
  signac/core/json.py
  signac/core/jsondict.py
  signac/core/synceddict.py
  signac/errors.py
  tests/test_buffered_mode.py
  tests/test_jsondict.py
  tests/test_sync.py
  tests/test_synced_attrdict.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove unused JobSearchIndex class. (#587)
  signac/contrib/project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove deprecated utility functions/classes. (#589)
  signac/contrib/utility.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove syncutil.copytree. (#581)
  signac/syncutil.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove unused error classes. (#595)
  signac/common/errors.py
  signac/errors.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

"State point" instead of "manifest." (#610)
  benchmark.py
  signac/contrib/errors.py
  signac/contrib/import_export.py
  signac/contrib/job.py
  signac/contrib/project.py
  signac/sync.py
  tests/test_job.py
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove Project.update_statepoint from docs (missed in PR #574).
  doc/api.rst
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove deprecated mpipool and filesystems modules. (#575)
  doc/conf.py
  setup.cfg
  setup.py
  signac/__init__.py
  signac/contrib/__init__.py
  signac/contrib/filesystems.py
  signac/contrib/mpipool.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Avoid AssertionError. (#612)
  changelog.txt
  signac/contrib/import_export.py
  signac/contrib/project.py
  signac/contrib/utility.py
  signac/synced_collections/_caching.py
  tests/test_synced_collections/test_mongodb_collection.py
  tests/test_synced_collections/test_redis_collection.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove doc_filter argument (#586)
  signac/__main__.py
  signac/contrib/project.py
  tests/test_project.py
  tests/test_shell.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove hosts validators (#596)
  signac/common/config.py
  signac/common/validate.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove groupbydoc method and consolidate tests. (#601)
  doc/api.rst
  signac/contrib/project.py
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove public API of indexing module. (#580)
  doc/api.rst
  doc/cli-help.txt
  setup.cfg
  signac/__init__.py
  signac/__main__.py
  signac/contrib/__init__.py
  signac/contrib/indexing.py
  signac/contrib/project.py
  tests/test_indexing.py
  tests/test_project.py
  tests/test_shell.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors
