Repository glotzerlab/signac, changes with the owners that .github/CODEOWNERS names for each.
All owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors, @glotzerlab/signac-maintainers

Update docs for get_project and get_job. (#765)
  signac/contrib/project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove warnings module. (#815)
  changelog.txt
  signac/__init__.py
  signac/warnings.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Access project from job (#808)
  changelog.txt
  contributors.yaml
  doc/api.rst
  signac/contrib/job.py
  tests/test_job.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Rename `root` parameter to `path`. (#758)
  benchmarks/benchmarks.py
  changelog.txt
  signac/__main__.py
  signac/common/config.py
  signac/contrib/job.py
  signac/contrib/project.py
  signac/sync.py
  tests/test_diff.py
  tests/test_job.py
  tests/test_project.py
  tests/test_shell.py
  tests/test_sync.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Changed CLI View Prefix (#774)
  contributors.yaml
  signac/__main__.py
  tests/test_shell.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update changelog.
  changelog.txt
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Fix copytree docs and unify default parameter logic. (#767)
  signac/contrib/import_export.py
  signac/contrib/project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Improve H5Store docs (#775)
  changelog.txt
  doc/api.rst
  signac/contrib/project.py
  signac/core/errors.py
  signac/core/h5store.py
  signac/errors.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove cov.sh.
  cov.sh
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove deprecation from requirements.
  doc/requirements.txt
Owners: @glotzerlab/signac-maintainers

Add docstrings to benchmarks.
  benchmarks/__init__.py
  benchmarks/benchmarks.py
  setup.cfg
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Some cleanup of project comments and add TODO to support older config versions.
  signac/contrib/project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Add note to enable migration CLI.
  signac/__main__.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Add support for older config versions in _locate_config_dir.
  signac/common/config.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Provide users a warning when they need to migrate.
  signac/common/config.py
  signac/contrib/migration/v0_to_v1.py
  signac/contrib/migration/v1_to_v2.py
  signac/contrib/project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Add test of requesting migration.
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Enable migration CLI and add a test.
  signac/__main__.py
  tests/test_project.py
  tests/test_shell.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Address PR comment.
  signac/__main__.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove unnecessary _add_prefix call and simplify as much as possible.
  signac/contrib/filterparse.py
  signac/contrib/project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove deprecated config APIs.
  signac/common/config.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update changelog.
  changelog.txt
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Add issues to changelog.
  changelog.txt
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove unnecessary newline.
  changelog.txt
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Stop filtering out warnings.
  setup.cfg
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Delete cov.sh
  cov.sh
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Cleanup post-merge 2.0 (#845)
  benchmarks/__init__.py
  benchmarks/benchmarks.py
  cov.sh
  doc/requirements.txt
  setup.cfg
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors, @glotzerlab/signac-maintainers

Update setup.cfg
  setup.cfg
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Disable threading support for JSONCollection on Windows.
  signac/_synced_collections/backends/collection_json.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Change all xfailed tests to conditional skips on Windows.
  tests/test_synced_collections/synced_collection_test.py
  tests/test_synced_collections/test_json_buffered_collection.py
  tests/test_synced_collections/test_json_collection.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Enable xfail strict.
  setup.cfg
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Don't try to modify locks when threading support doesn't exist.
  signac/contrib/job.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Reset the filename whether or not we need to play with locks.
  signac/contrib/job.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove debug prints.
  tests/test_synced_collections/synced_collection_test.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Minor cleanup.
  signac/_synced_collections/backends/collection_json.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Address PR comments.
  signac/_synced_collections/backends/collection_json.py
  signac/contrib/job.py
  tests/test_synced_collections/test_json_buffered_collection.py
  tests/test_synced_collections/test_json_collection.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Fix typo in comment.
  signac/_synced_collections/backends/collection_json.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Setting filename also requires the lock.
  signac/_synced_collections/backends/collection_json.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Fix whitespace.
  setup.cfg
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Stop filtering out warnings. (#848)
  setup.cfg
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Warn users to migrate when old schema is detected and enable migration CLI (#816)
  signac/__main__.py
  signac/common/config.py
  signac/contrib/migration/v0_to_v1.py
  signac/contrib/migration/v1_to_v2.py
  signac/contrib/project.py
  tests/test_project.py
  tests/test_shell.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

.github/CODEOWNERS:

# Request one committer and one contributor per PR.
* @glotzerlab/signac-committers @glotzerlab/signac-contributors
# Request maintainers for changes in requirements
requirements/* @glotzerlab/signac-maintainers
requirements.txt @glotzerlab/signac-maintainers
doc/requirements.txt @glotzerlab/signac-maintainers
.pre-commit-config.yaml @glotzerlab/signac-maintainers
