Repository glotzerlab/signac, changes with the owners that .github/CODEOWNERS names for each.
All owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors, @glotzerlab/signac-maintainers

.github/CODEOWNERS:

# Request one committer and one contributor per PR.
* @glotzerlab/signac-committers @glotzerlab/signac-contributors
# Request maintainers for changes in requirements
requirements/* @glotzerlab/signac-maintainers
requirements.txt @glotzerlab/signac-maintainers
doc/requirements.txt @glotzerlab/signac-maintainers
.pre-commit-config.yaml @glotzerlab/signac-maintainers

Fix remaining minor tests.
  tests/test_job.py
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove redundant leading underscores now that the modules are public.
  signac/__main__.py
  signac/_config.py
  signac/migration/v1_to_v2.py
  signac/project.py
  tests/test_job.py
  tests/test_project.py
  tests/test_shell.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update changelog.
  changelog.txt
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Move pytest configuration to pyproject.toml.
  pyproject.toml
  setup.cfg
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Move mypy config to pyproject.toml.
  pyproject.toml
  setup.cfg
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove now unnecessary bdist_wheel section.
  setup.cfg
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove unnecessary metadata section, see https://stackoverflow.com/questions/60084128/does-description-file-in-setup-cfg-section-metadata-have-any-effect
  setup.cfg
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Move pydocstyle config to pyproject.toml.
  .pre-commit-config.yaml
  pyproject.toml
  setup.cfg
Owners: @glotzerlab/signac-maintainers, @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Move coverage config to pyproject.toml.
  .github/workflows/run-pytest.yml
  pyproject.toml
  requirements/requirements-test.txt
  setup.cfg
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors, @glotzerlab/signac-maintainers

Move flake8 and bumpversion configs to separate files.
  .bumpversion
  .flake8
  .pre-commit-config.yaml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors, @glotzerlab/signac-maintainers

Move all project config to pyproject.toml.
  pyproject.toml
  setup.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Specify build backend.
  pyproject.toml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Revert "Remove redundant leading underscores now that the modules are public."
  signac/__main__.py
  signac/_config.py
  signac/migration/v1_to_v2.py
  signac/project.py
  tests/test_job.py
  tests/test_project.py
  tests/test_shell.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove TODO.
  pyproject.toml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove editable install in CI.
  .github/workflows/run-pytest.yml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Revert "Remove editable install in CI."
  .github/workflows/run-pytest.yml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Add minimum setuptools version.
  pyproject.toml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update changelog.
  changelog.txt
  doc/installation.rst
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Make sure namespace packages aren't installed and try again.
  .github/workflows/run-pytest.yml
  pyproject.toml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Explicitly disallow test installation and add an __init__.py for _vendor.
  pyproject.toml
  signac/_vendor/__init__.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Go back to an editable install for CI.
  .github/workflows/run-pytest.yml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Specify pydocstyle convention.
  pyproject.toml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Convert keywords to a proper list.
  pyproject.toml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove zip-safe.
  pyproject.toml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Point bumpversion to pyproject.toml.
  .bumpversion
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update contributing docs.
  CONTRIBUTING.md
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Apply suggestions from code review
  doc/installation.rst
  pyproject.toml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update pyproject.toml
  pyproject.toml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Makes the config module internal (#877)
  changelog.txt
  signac/__main__.py
  signac/_config.py
  signac/migration/v1_to_v2.py
  signac/project.py
  tests/test_job.py
  tests/test_project.py
  tests/test_shell.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Move utility functions closer to usage (#870)
  signac/__main__.py
  signac/_utility.py
  signac/project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Move to a fully pyproject.toml based build (#878)
  .bumpversion
  .flake8
  .github/workflows/run-pytest.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  changelog.txt
  doc/installation.rst
  pyproject.toml
  setup.cfg
  setup.py
  signac/_vendor/__init__.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors, @glotzerlab/signac-maintainers

Use Python 3.10 for package releases, disable 3.11 testing with newest dependencies until h5py is available as a wheel.
  .github/workflows/publish-packages.yml
  .github/workflows/run-pytest.yml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Fix flake8.
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update mypy configuration.
  .pre-commit-config.yaml
  pyproject.toml
  setup.cfg
Owners: @glotzerlab/signac-maintainers, @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Add Python 3.11 Support (#875)
  .github/workflows/run-pytest.yml
  changelog.txt
  pyproject.toml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Fix JSONAttrDict docstring
  signac/_synced_collections/backends/collection_json.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Fix JSONAttrDict docstring (#886)
  signac/_synced_collections/backends/collection_json.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Bump pre-commit hooks.
  .pre-commit-config.yaml
Owners: @glotzerlab/signac-maintainers

ci: Update pre-commit
  .pre-commit-config.yaml
  .sync-zenodo-metadata.py
  signac/h5store.py
  signac/import_export.py
  tests/test_diff.py
  tests/test_h5store.py
  tests/test_job.py
  tests/test_project.py
  tests/test_searchindexer.py
  tests/test_synced_collections/test_json_buffered_collection.py
  tests/test_synced_collections/test_json_collection.py
  tests/test_synced_collections/test_mongodb_collection.py
  tests/test_synced_collections/test_redis_collection.py
  tests/test_synced_collections/test_zarr_collection.py
Owners: @glotzerlab/signac-maintainers, @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update pre-commit hooks for black and isort. (#894)
  .pre-commit-config.yaml
  .sync-zenodo-metadata.py
  signac/h5store.py
  signac/import_export.py
  tests/test_diff.py
  tests/test_h5store.py
  tests/test_job.py
  tests/test_project.py
  tests/test_searchindexer.py
  tests/test_synced_collections/test_json_buffered_collection.py
  tests/test_synced_collections/test_json_collection.py
  tests/test_synced_collections/test_mongodb_collection.py
  tests/test_synced_collections/test_redis_collection.py
  tests/test_synced_collections/test_zarr_collection.py
Owners: @glotzerlab/signac-maintainers, @glotzerlab/signac-committers, @glotzerlab/signac-contributors
