Repository glotzerlab/signac, changes with the owners that .github/CODEOWNERS names for each.
All owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors, @glotzerlab/signac-maintainers

.github/CODEOWNERS:

# Request one committer and one contributor per PR.
* @glotzerlab/signac-committers @glotzerlab/signac-contributors
# Request maintainers for changes in requirements
requirements/* @glotzerlab/signac-maintainers
requirements.txt @glotzerlab/signac-maintainers
doc/requirements.txt @glotzerlab/signac-maintainers
.pre-commit-config.yaml @glotzerlab/signac-maintainers

Update doc intersphinx links, pre-commit hooks, GitHub Actions, and test requirements to remove unneeded dependencies.
  .github/workflows/ci-oldest-reqs.txt
  .github/workflows/publish-packages.yml
  .github/workflows/run-pytest.yml
  .pre-commit-config.yaml
  doc/api.rst
  doc/conf.py
  requirements/requirements-test-optional.txt
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors, @glotzerlab/signac-maintainers

Fix warning from changelog syntax.
  changelog.txt
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update changelog.txt
  changelog.txt
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove numcodecs from docs.
  doc/conf.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove numcodecs from docs. (#925)
  doc/conf.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove unnecessary restriction on view, test possibly bad characters
  signac/linked_view.py
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

ci: Remove python 3.8-newest tests.
  .github/workflows/run-pytest.yml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

ci: No longer test latest packages on Python 3.8
  .github/workflows/run-pytest.yml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

ci: No longer test latest packages on Python 3.8 (#938)
  .github/workflows/run-pytest.yml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update changelog for 2.1.0.
  changelog.txt
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Bump up to version 2.1.0.
  .bumpversion.cfg
  CITATION.cff
  doc/conf.py
  pyproject.toml
  signac/version.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Release/2.1.0 (#939)
  .bumpversion.cfg
  CITATION.cff
  changelog.txt
  doc/conf.py
  pyproject.toml
  signac/version.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

test: Simplify view test logic
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

refactor(linked views): simplify logic.
  signac/linked_view.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

docs(changelog): Add #926 to changelog
  changelog.txt
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

fix(linked views): Fix previous commmit.
  signac/linked_view.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

test: Fix syntax errors in test_create_linked_view_with_slash_raises_error
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Check up on restrictions to signac view (#926)
  changelog.txt
  signac/linked_view.py
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

style: Fix flake8 errors on type checking is over ==
  signac/h5store.py
  signac/sync.py
  tests/test_h5store.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Fix dead link to the Support documentation
  CONTRIBUTING.md
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Fix dead link to the Support documentation (#949)
  CONTRIBUTING.md
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

ci: Add Python 3.12 and limit MacOS/Window's tests.
  .github/workflows/run-pytest.yml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

doc: Update changelog
  changelog.txt
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

misc: Add Python 3.12 to pyproject tags
  pyproject.toml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

ci: Apply fixes
  .github/workflows/run-pytest.yml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

ci: Further fixes.
  .github/workflows/run-pytest.yml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

fix: Remove Deprecation errors in Python 3.12
  changelog.txt
  signac/import_export.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

fix: Correctly check minor not bugfix version
  signac/import_export.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

ci: Add manual naming for run-pytest
  .github/workflows/run-pytest.yml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

test: Update pandas newest test requirements.
  requirements/requirements-test-optional.txt
Owners: @glotzerlab/signac-maintainers

ci: Attempt to add ubuntu-latest, 3.12, newest
  .github/workflows/run-pytest.yml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

[FIX]: Attempt creation of symlink on Windows and handle exceptions.
  signac/linked_view.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update contributors.yaml
  contributors.yaml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update changelog.txt
  changelog.txt
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update linked_view.py
  signac/linked_view.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Try default key.
  .github/workflows/run-pytest.yml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Try a different key name.
  .github/workflows/run-pytest.yml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Fix actions syntax.
  .github/workflows/run-pytest.yml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Add missing os key.
  .github/workflows/run-pytest.yml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

refactor: Check both major and minor version.
  signac/import_export.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors
