Repository glotzerlab/signac, changes with the owners that .github/CODEOWNERS names for each.
All owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors, @glotzerlab/signac-maintainers

Improve readability of Collection._find.
  signac/contrib/collection.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update buffer capacity methods for consistency with synced collections (#609)
  doc/requirements.txt
  signac/__init__.py
  signac/synced_collections/buffers/buffered_collection.py
  signac/synced_collections/buffers/file_buffered_collection.py
  tests/test_buffered_mode.py
Owners: @glotzerlab/signac-maintainers, @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove JobsCursor.next. (#604)
  changelog.txt
  signac/contrib/project.py
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Disallow Project.config mutation (#608)
  changelog.txt
  signac/contrib/job.py
  signac/contrib/project.py
  tests/test_job.py
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove public utility methods (#606)
  signac/__main__.py
  signac/contrib/utility.py
  signac/core/utility.py
  signac/sync.py
  tests/test_versioning.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove doc_filter argument (#586)
  signac/__main__.py
  signac/contrib/project.py
  tests/test_project.py
  tests/test_shell.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Avoid AssertionError. (#612)
  changelog.txt
  signac/contrib/import_export.py
  signac/contrib/project.py
  signac/contrib/utility.py
  signac/synced_collections/_caching.py
  tests/test_synced_collections/test_mongodb_collection.py
  tests/test_synced_collections/test_redis_collection.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Define job id length as a constant instead of a repeated magic number. (#605)
  signac/contrib/collection.py
  signac/contrib/project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Simplify internal indexing (#652)
  signac/contrib/project.py
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

"State point" instead of "manifest." (#610)
  benchmark.py
  signac/contrib/errors.py
  signac/contrib/import_export.py
  signac/contrib/job.py
  signac/contrib/project.py
  signac/sync.py
  tests/test_job.py
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove user-provided project name from API (#677)
  signac/__main__.py
  signac/contrib/project.py
  tests/test_diff.py
  tests/test_job.py
  tests/test_project.py
  tests/test_shell.py
  tests/test_sync.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove unnecessary config APIs (#674)
  changelog.txt
  signac/__main__.py
  signac/common/config.py
  signac/contrib/migration/__init__.py
  signac/contrib/project.py
  tests/test_job.py
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove support for custom job subclass (#693)
  changelog.txt
  signac/contrib/import_export.py
  signac/contrib/project.py
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Replace Collection with lightweight _SearchIndexer. (#667)
  signac/contrib/_index.py
  signac/contrib/import_export.py
  signac/contrib/project.py
  signac/contrib/schema.py
  tests/test_collection.py
  tests/test_project.py
  tests/test_searchindexer.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Rename _index.py to _searchindexer.py.
  signac/contrib/_searchindexer.py
  signac/contrib/import_export.py
  signac/contrib/project.py
  tests/test_searchindexer.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove Collection (#683)
  benchmark.py
  benchmarks/benchmarks.py
  changelog.txt
  doc/api.rst
  requirements/requirements-benchmark.txt
  signac/__init__.py
  signac/contrib/__init__.py
  signac/contrib/_searchindexer.py
  signac/contrib/collection.py
  signac/contrib/schema.py
  tests/test_collection.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors, @glotzerlab/signac-maintainers

Remove non-string key support (#719)
  changelog.txt
  signac/synced_collections/backends/collection_json.py
  signac/synced_collections/data_types/synced_dict.py
  signac/synced_collections/validators.py
  tests/test_job.py
  tests/test_jsondict.py
  tests/test_synced_collections/test_json_collection.py
  tests/test_synced_collections/test_validators.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Replace _id with id_ (#717)
  changelog.txt
  signac/__main__.py
  signac/contrib/job.py
  signac/contrib/project.py
  tests/test_job.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Fix TODO edit by removing altogether.
  tests/test_synced_collections/synced_collection_test.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove TODO.
  tests/test_synced_collections/synced_collection_test.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Initial migration to schema version 2 including config rename (#678)
  signac/__main__.py
  signac/common/config.py
  signac/contrib/migration/__init__.py
  signac/contrib/migration/v1_to_v2.py
  signac/contrib/project.py
  signac/version.py
  tests/test_project.py
  tests/test_shell.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove project name from schema (#684)
  signac/__main__.py
  signac/common/validate.py
  signac/contrib/migration/v1_to_v2.py
  signac/contrib/project.py
  tests/test_project.py
  tests/test_shell.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Use integer schema version numbers (#688)
  signac/contrib/migration/__init__.py
  signac/contrib/project.py
  signac/version.py
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Change Project constructor to use root directory (#706)
  signac/contrib/project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Move internal signac files into .signac subdirectory (#708)
  signac/__main__.py
  signac/contrib/migration/v1_to_v2.py
  signac/contrib/project.py
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Move discovery to separate functions. (#711)
  signac/__main__.py
  signac/common/config.py
  signac/common/validate.py
  signac/contrib/project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove configurable workspace directory (#714)
  signac/__main__.py
  signac/common/validate.py
  signac/contrib/migration/v1_to_v2.py
  signac/contrib/project.py
  tests/test_job.py
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update description of schema migration.
  signac/contrib/migration/v1_to_v2.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Apply pre-commit.
  signac/contrib/project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update changelog.
  changelog.txt
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove compatibility layers and other deprecated code (#752)
  changelog.txt
  signac/__main__.py
  signac/contrib/job.py
  signac/contrib/project.py
  signac/contrib/schema.py
  signac/sync.py
  tests/test_job.py
  tests/test_project.py
  tests/test_shell.py
  tests/test_temporary_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Some minor documentation fixes. (#745)
  doc/api.rst
  signac/contrib/job.py
  signac/core/dict_manager.py
  signac/core/h5store.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Rename `root` parameter to `path`. (#758)
  benchmarks/benchmarks.py
  changelog.txt
  signac/__main__.py
  signac/common/config.py
  signac/contrib/job.py
  signac/contrib/project.py
  signac/sync.py
  tests/test_diff.py
  tests/test_job.py
  tests/test_project.py
  tests/test_shell.py
  tests/test_sync.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update 2.0 documentation. (#759)
  doc/api.rst
  doc/cli.rst
  doc/index.rst
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Add "optional" to parameter docstrings. (#763)
  signac/contrib/_searchindexer.py
  signac/contrib/filterparse.py
  signac/contrib/import_export.py
  signac/contrib/job.py
  signac/contrib/linked_view.py
  signac/contrib/project.py
  signac/contrib/schema.py
  signac/contrib/utility.py
  signac/sync.py
  signac/synced_collections/buffers/memory_buffered_collection.py
  signac/synced_collections/data_types/synced_dict.py
  signac/synced_collections/data_types/synced_list.py
  signac/syncutil.py
  signac/testing.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update docs for get_project and get_job. (#765)
  signac/contrib/project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Refactor import-export logic and update docs. (#766)
  signac/contrib/import_export.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Fix copytree docs and unify default parameter logic. (#767)
  signac/contrib/import_export.py
  signac/contrib/project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Refactor and simplify code printing to stderr. (#762)
  signac/__main__.py
  signac/contrib/filterparse.py
  signac/contrib/migration/__init__.py
  signac/contrib/utility.py
  tests/test_find_command_line_interface.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Always encode nested dicts. (#764)
  signac/contrib/utility.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

.github/CODEOWNERS:

# Request one committer and one contributor per PR.
* @glotzerlab/signac-committers @glotzerlab/signac-contributors
# Request maintainers for changes in requirements
requirements/* @glotzerlab/signac-maintainers
requirements.txt @glotzerlab/signac-maintainers
doc/requirements.txt @glotzerlab/signac-maintainers
.pre-commit-config.yaml @glotzerlab/signac-maintainers
