Repository glotzerlab/signac, changes with the owners that .github/CODEOWNERS names for each.
All owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors, @glotzerlab/signac-maintainers

.github/CODEOWNERS:

# Request one committer and one contributor per PR.
* @glotzerlab/signac-committers @glotzerlab/signac-contributors
# Request maintainers for changes in requirements
requirements/* @glotzerlab/signac-maintainers
requirements.txt @glotzerlab/signac-maintainers
doc/requirements.txt @glotzerlab/signac-maintainers
.pre-commit-config.yaml @glotzerlab/signac-maintainers

Update contributors.yaml
  contributors.yaml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update contributors.yaml
  contributors.yaml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Use FutureWarning instead of DeprecationWarning in project.py (#691)
  changelog.txt
  signac/contrib/project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update contributors.yaml (#694)
  contributors.yaml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Shorten headline
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Use 2 line breaks per empty section
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Shorten checklist items in response to code review
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Fix test for cached projects.
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Test asv benchmarks in CI.
  .circleci/config.yml
  requirements/requirements-benchmark.txt
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors, @glotzerlab/signac-maintainers

Specify machine.
  .circleci/config.yml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Specify machine.
  .circleci/config.yml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Run tests in parallel.
  .circleci/config.yml
  requirements/requirements-test.txt
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors, @glotzerlab/signac-maintainers

Fix oldest tests.
  .circleci/ci-oldest-reqs.txt
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Use 2 CPUs.
  .circleci/config.yml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Try no machine.
  .circleci/config.yml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Try --dist loadfile.
  .circleci/config.yml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

asv check; use machine --yes.
  .circleci/config.yml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Try loadscope.
  .circleci/config.yml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Revert "Try loadscope."
  .circleci/config.yml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update changelog.
  changelog.txt
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Add virtualenv to benchmark requirements.
  requirements/requirements-benchmark.txt
Owners: @glotzerlab/signac-maintainers

Add --no-only-changed so that all comparisons are shown.
  .circleci/config.yml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Tune benchmark parameters for CI runtime and minimum variance.
  benchmarks/benchmarks.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Re-use random project data.
  benchmarks/benchmarks.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Disable benchmark.py.
  .circleci/config.yml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove support for custom job subclass (#693)
  changelog.txt
  signac/contrib/import_export.py
  signac/contrib/project.py
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Change project constructor to accept a root directory instead of a config file.
  signac/contrib/project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Change Project repr.
  signac/contrib/project.py
  tests/test_shell.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update changelog.txt
  changelog.txt
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Clarify wording
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove if applicable from changelog checklist
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Improve wording - requiring checklist for merging but not reviewing
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Replace another doc filter
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update direction on breaking changes
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove redundant code style item
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Apply suggestions from code review
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove reference to breaking label
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Move shell history.
  signac/__main__.py
  signac/contrib/migration/v1_to_v2.py
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Move sp_cache file.
  signac/contrib/migration/v1_to_v2.py
  signac/contrib/project.py
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Add new path properties and deprecate Project.root_directory, Job.ws, and Job.workspace.
  signac/contrib/job.py
  signac/contrib/project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors
