Repository glotzerlab/signac, changes with the owners that .github/CODEOWNERS names for each.
All owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors, @glotzerlab/signac-maintainers

revert back to old mapping code in linked_view
  signac/contrib/linked_view.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update signac/contrib/import_export.py
  signac/contrib/import_export.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Rename _make_doc to _make_json_data.
  benchmarks/benchmarks.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update parameters.
  benchmarks/benchmarks.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update changelog.
  changelog.txt
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Convert name to an optional parameter.
  signac/__main__.py
  signac/contrib/project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update changelog.
  changelog.txt
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Add module docstrings to explain each benchmarking script.
  benchmark.py
  benchmarks/benchmarks.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Use https.
  README.md
  doc/support.rst
  signac/core/h5store.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Add section on benchmarks to docs.
  doc/support.rst
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update docs.
  doc/support.rst
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update docs.
  doc/support.rst
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Add indentation when dumping json.
  signac/synced_collections/backends/collection_json.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update changelog.
  changelog.txt
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Support UTF-8 characters without raw encodings.
  .sync-zenodo-metadata.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Apply suggestions from code review
  signac/contrib/import_export.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

switch back to RuntimeError for tests and bc type of input is correct
  signac/contrib/import_export.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

make path correction change work on all oses
  signac/contrib/import_export.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

update init_project call in example code
  signac/diff.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Fix assertion.
  signac/contrib/project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update signac/contrib/project.py
  signac/contrib/project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Switch to 3.9 being the base testing environment
  .circleci/config.yml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

don't log if pathspec is okay
  signac/contrib/import_export.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

add error to docstring
  signac/contrib/import_export.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

apply suggestions from code review
  signac/contrib/import_export.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Move path function checking to helper function
  signac/contrib/import_export.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Do quick path check first
  signac/contrib/import_export.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

suggestion: change other init_project
  signac/contrib/project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Revert changes to make Python 3.9 default CI config
  .circleci/config.yml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update test requirements.
  requirements/requirements-test-optional.txt
Owners: @glotzerlab/signac-maintainers

Update changelog.
  changelog.txt
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Fix changelog formatting.
  changelog.txt
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Use https.
  README.md
  doc/support.rst
  signac/core/h5store.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Feature: Measuring the airspeed velocity of an unladen signac (#629)
  .gitignore
  .pre-commit-config.yaml
  asv.conf.json
  benchmark.py
  benchmarks/__init__.py
  benchmarks/benchmarks.py
  changelog.txt
  doc/support.rst
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors, @glotzerlab/signac-maintainers

Use declarative metadata in setup.cfg.
  setup.cfg
  setup.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Add setup.cfg formatter to pre-commit hooks.
  .pre-commit-config.yaml
  setup.cfg
Owners: @glotzerlab/signac-maintainers, @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Pass path string for error message
  signac/contrib/import_export.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update changelog.txt
  changelog.txt
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

move _make_path_function, _check_path_function to utility
  signac/__main__.py
  signac/contrib/import_export.py
  signac/contrib/linked_view.py
  signac/contrib/utility.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

fix flake8 imports not used
  signac/contrib/import_export.py
  signac/contrib/linked_view.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

.github/CODEOWNERS:

# Request one committer and one contributor per PR.
* @glotzerlab/signac-committers @glotzerlab/signac-contributors
# Request maintainers for changes in requirements
requirements/* @glotzerlab/signac-maintainers
requirements.txt @glotzerlab/signac-maintainers
doc/requirements.txt @glotzerlab/signac-maintainers
.pre-commit-config.yaml @glotzerlab/signac-maintainers
