Repository glotzerlab/signac, changes with the owners that .github/CODEOWNERS names for each.
All owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors, @glotzerlab/signac-maintainers

Update oldest dependencies to versions with Python 3.8 wheels.
  .circleci/ci-oldest-reqs.txt
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Target Python 3.8 for black and pyupgrade.
  .pre-commit-config.yaml
  pyproject.toml
Owners: @glotzerlab/signac-maintainers, @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Require Python>=3.8.
  setup.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update docs.
  README.md
  doc/installation.rst
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update changelog.
  changelog.txt
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Use Python 3.10 on Windows.
  .circleci/config.yml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Rename Windows CI job.
  .circleci/config.yml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Call codecov with python -m codecov.
  .circleci/config.yml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update NEP 29 language.
  doc/installation.rst
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Initial commit of vendored deprecation package.
  .pre-commit-config.yaml
  signac/common/deprecation/LICENSE
  signac/common/deprecation/README
  signac/common/deprecation/__init__.py
Owners: @glotzerlab/signac-maintainers, @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Use FutureWarning.
  signac/common/deprecation/__init__.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Replace deprecation with vendored deprecation in project.py.
  signac/contrib/project.py
  tests/test_job.py
  tests/test_project.py
  tests/test_shell.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove Collection from signac API.
  doc/api.rst
  signac/__init__.py
  signac/contrib/__init__.py
  signac/contrib/_searchindexer.py
  signac/contrib/schema.py
  tests/test_collection.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update changelog.
  changelog.txt
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update naming/docs.
  signac/contrib/_searchindexer.py
  signac/contrib/schema.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove collection.py.
  signac/contrib/collection.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove benchmark.py and related CI/requirements.
  .circleci/config.yml
  benchmark.py
  benchmarks/benchmarks.py
  requirements/requirements-benchmark.txt
  setup.cfg
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors, @glotzerlab/signac-maintainers

Apply suggestions.
  signac/__main__.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update setup.cfg
  setup.cfg
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Move discovery to separate functions. (#711)
  signac/__main__.py
  signac/common/config.py
  signac/common/validate.py
  signac/contrib/project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Add link to NEP 29.
  changelog.txt
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Require Python 3.8+. (#715)
  .circleci/ci-oldest-reqs.txt
  .circleci/config.yml
  .pre-commit-config.yaml
  README.md
  changelog.txt
  doc/installation.rst
  pyproject.toml
  setup.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors, @glotzerlab/signac-maintainers

Remove Collection (#683)
  .circleci/config.yml
  benchmark.py
  benchmarks/benchmarks.py
  changelog.txt
  doc/api.rst
  requirements/requirements-benchmark.txt
  signac/__init__.py
  signac/contrib/__init__.py
  signac/contrib/_searchindexer.py
  signac/contrib/collection.py
  signac/contrib/schema.py
  tests/test_collection.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors, @glotzerlab/signac-maintainers

Vendor deprecation package, modified to raise FutureWarnings (#716)
  .pre-commit-config.yaml
  signac/common/deprecation/LICENSE
  signac/common/deprecation/README
  signac/common/deprecation/__init__.py
  signac/contrib/project.py
  tests/test_job.py
  tests/test_project.py
  tests/test_shell.py
Owners: @glotzerlab/signac-maintainers, @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Apply suggestions from code review
  signac/__main__.py
  signac/contrib/migration/v1_to_v2.py
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Address remaining PR comments.
  signac/contrib/project.py
  tests/test_job.py
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update tests/test_project.py
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Address PR comments.
  signac/__main__.py
  signac/contrib/import_export.py
  signac/contrib/indexing.py
  signac/contrib/job.py
  signac/contrib/project.py
  signac/sync.py
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Minor PR template edits.
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

replaces _id with id_
  changelog.txt
  signac/__main__.py
  signac/contrib/job.py
  signac/contrib/project.py
  tests/test_job.py
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

accepted all incoming changes
  signac/contrib/project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

reverted changelog.txt, changed job.id_ and self.id_ back to job._id and self._id, changed string instances of id_ back to _id e.g. in primary_key
  changelog.txt
  signac/contrib/job.py
  tests/test_job.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

argument in register method changed
  signac/contrib/project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

change reverted in symlink_path in test_project
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

added id_ comment in changelog.txt
  changelog.txt
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

added PR number to changelog.txt
  changelog.txt
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

added PR number to changelog.txt
  changelog.txt
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Revert accidental change from rebase.
  signac/contrib/project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove mention of configurability from project workspace docstring
  signac/contrib/project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Run pytest with warnings as errors.
  setup.cfg
  tests/test_indexing.py
  tests/test_job.py
  tests/test_jsondict.py
  tests/test_sync.py
  tests/test_synced_attrdict.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

.github/CODEOWNERS:

# Request one committer and one contributor per PR.
* @glotzerlab/signac-committers @glotzerlab/signac-contributors
# Request maintainers for changes in requirements
requirements/* @glotzerlab/signac-maintainers
requirements.txt @glotzerlab/signac-maintainers
doc/requirements.txt @glotzerlab/signac-maintainers
.pre-commit-config.yaml @glotzerlab/signac-maintainers
