Repository glotzerlab/signac, changes with the owners that .github/CODEOWNERS names for each.
All owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors, @glotzerlab/signac-maintainers

Remove easily deprecated functions from project.py (#574)
  benchmark.py
  changelog.txt
  doc/api.rst
  signac/__main__.py
  signac/contrib/project.py
  tests/test_job.py
  tests/test_project.py
  tests/test_shell.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove deprecated job.get_id() (#578)
  benchmark.py
  changelog.txt
  doc/api.rst
  signac/contrib/job.py
  tests/test_buffered_mode.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove database and host components. (#576)
  changelog.txt
  doc/installation.rst
  setup.cfg
  setup.py
  signac/__init__.py
  signac/__main__.py
  signac/common/connection.py
  signac/common/crypt.py
  signac/common/host.py
  signac/contrib/utility.py
  signac/core/utility.py
  signac/db/__init__.py
  signac/db/database.py
  tests/test_db.py
  tests/test_indexing.py
  tests/test_shell.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove syncutil.copytree. (#581)
  changelog.txt
  signac/syncutil.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove deprecated utility functions/classes. (#589)
  signac/contrib/utility.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove public API of indexing module. (#580)
  changelog.txt
  doc/api.rst
  doc/cli.rst
  setup.cfg
  signac/__init__.py
  signac/__main__.py
  signac/contrib/__init__.py
  signac/contrib/indexing.py
  signac/contrib/project.py
  tests/test_indexing.py
  tests/test_project.py
  tests/test_shell.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Clean up utility functions. (#597)
  signac/__main__.py
  signac/contrib/project.py
  signac/contrib/utility.py
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove cite submodule. (#594)
  changelog.txt
  doc/api.rst
  signac/__init__.py
  signac/cite.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove Project.index. (#593)
  changelog.txt
  doc/api.rst
  signac/__main__.py
  signac/contrib/indexing.py
  signac/contrib/project.py
  signac/contrib/utility.py
  tests/test_indexing.py
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove unused functions. (#598)
  signac/contrib/collection.py
  signac/contrib/linked_view.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove unused error classes. (#595)
  changelog.txt
  signac/common/errors.py
  signac/errors.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove hosts validators (#596)
  changelog.txt
  signac/common/config.py
  signac/common/validate.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove unused JobSearchIndex class. (#587)
  changelog.txt
  signac/contrib/project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove index arguments and state point backups (#599)
  changelog.txt
  doc/api.rst
  signac/__main__.py
  signac/contrib/filterparse.py
  signac/contrib/import_export.py
  signac/contrib/linked_view.py
  signac/contrib/project.py
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove groupbydoc method and consolidate tests. (#601)
  changelog.txt
  doc/api.rst
  signac/contrib/project.py
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Fix deprecation warnings (#603)
  signac/contrib/project.py
  tests/test_job.py
  tests/test_jsondict.py
  tests/test_project.py
  tests/test_shell.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Improve readability of Collection._find.
  signac/contrib/collection.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Fix typo.
  signac/contrib/project.py
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove Project.update_statepoint from docs (missed in PR #574).
  doc/api.rst
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove JobsCursor.next. (#604)
  changelog.txt
  signac/contrib/project.py
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Disallow Project.config mutation (#608)
  changelog.txt
  signac/contrib/job.py
  signac/contrib/project.py
  tests/test_job.py
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update buffer capacity methods for consistency with synced collections (#609)
  doc/requirements.txt
  signac/__init__.py
  signac/synced_collections/buffers/buffered_collection.py
  signac/synced_collections/buffers/file_buffered_collection.py
  tests/test_buffered_mode.py
Owners: @glotzerlab/signac-maintainers, @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove public utility methods (#606)
  signac/__main__.py
  signac/contrib/utility.py
  signac/core/utility.py
  signac/sync.py
  tests/test_versioning.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Avoid AssertionError. (#612)
  changelog.txt
  signac/contrib/import_export.py
  signac/contrib/project.py
  signac/contrib/utility.py
  signac/synced_collections/_caching.py
  tests/test_synced_collections/test_mongodb_collection.py
  tests/test_synced_collections/test_redis_collection.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove doc_filter argument (#586)
  signac/__main__.py
  signac/contrib/project.py
  tests/test_project.py
  tests/test_shell.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

"State point" instead of "manifest." (#610)
  benchmark.py
  signac/contrib/errors.py
  signac/contrib/import_export.py
  signac/contrib/job.py
  signac/contrib/project.py
  signac/sync.py
  tests/test_job.py
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Define job id length as a constant instead of a repeated magic number. (#605)
  signac/contrib/collection.py
  signac/contrib/project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Simplify internal indexing (#652)
  signac/contrib/project.py
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove unnecessary config APIs (#674)
  changelog.txt
  signac/__main__.py
  signac/common/config.py
  signac/contrib/migration/__init__.py
  signac/contrib/project.py
  tests/test_job.py
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove user-provided project name from API (#677)
  signac/__main__.py
  signac/contrib/project.py
  tests/test_diff.py
  tests/test_job.py
  tests/test_project.py
  tests/test_shell.py
  tests/test_sync.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Replace Collection with lightweight _SearchIndexer. (#667)
  signac/contrib/_index.py
  signac/contrib/import_export.py
  signac/contrib/project.py
  signac/contrib/schema.py
  tests/test_collection.py
  tests/test_project.py
  tests/test_searchindexer.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Rename _index.py to _searchindexer.py.
  signac/contrib/_searchindexer.py
  signac/contrib/import_export.py
  signac/contrib/project.py
  tests/test_searchindexer.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove support for custom job subclass (#693)
  changelog.txt
  signac/contrib/import_export.py
  signac/contrib/project.py
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove Collection (#683)
  .circleci/config.yml
  benchmark.py
  benchmarks/benchmarks.py
  changelog.txt
  doc/api.rst
  requirements/requirements-benchmark.txt
  signac/__init__.py
  signac/contrib/__init__.py
  signac/contrib/_searchindexer.py
  signac/contrib/collection.py
  signac/contrib/schema.py
  tests/test_collection.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors, @glotzerlab/signac-maintainers

Replace _id with id_ (#717)
  changelog.txt
  signac/__main__.py
  signac/contrib/job.py
  signac/contrib/project.py
  tests/test_job.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove non-string key support (#719)
  changelog.txt
  signac/synced_collections/backends/collection_json.py
  signac/synced_collections/data_types/synced_dict.py
  signac/synced_collections/validators.py
  tests/test_job.py
  tests/test_jsondict.py
  tests/test_synced_collections/test_json_collection.py
  tests/test_synced_collections/test_validators.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove TODO.
  tests/test_synced_collections/synced_collection_test.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Fix TODO edit by removing altogether.
  tests/test_synced_collections/synced_collection_test.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Initial migration to schema version 2 including config rename (#678)
  signac/__main__.py
  signac/common/config.py
  signac/contrib/migration/__init__.py
  signac/contrib/migration/v1_to_v2.py
  signac/contrib/project.py
  signac/version.py
  tests/test_project.py
  tests/test_shell.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Apply pre-commit.
  signac/contrib/project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

.github/CODEOWNERS:

# Request one committer and one contributor per PR.
* @glotzerlab/signac-committers @glotzerlab/signac-contributors
# Request maintainers for changes in requirements
requirements/* @glotzerlab/signac-maintainers
requirements.txt @glotzerlab/signac-maintainers
doc/requirements.txt @glotzerlab/signac-maintainers
.pre-commit-config.yaml @glotzerlab/signac-maintainers
