Repository glotzerlab/signac, changes with the owners that .github/CODEOWNERS names for each.
All owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors, @glotzerlab/signac-maintainers

.github/CODEOWNERS:

# Request one committer and one contributor per PR.
* @glotzerlab/signac-committers @glotzerlab/signac-contributors
# Request maintainers for changes in requirements
requirements/* @glotzerlab/signac-maintainers
requirements.txt @glotzerlab/signac-maintainers
doc/requirements.txt @glotzerlab/signac-maintainers
.pre-commit-config.yaml @glotzerlab/signac-maintainers

Run pre-commit updates on a quarterly basis.
  .pre-commit-config.yaml
Owners: @glotzerlab/signac-maintainers

Fix incorrect docstring, resolve #506. (#563)
  changelog.txt
  signac/contrib/job.py
  signac/contrib/project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update changelog.
  changelog.txt
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Bump up to version 1.7.0.
  .zenodo.json
  CITATION.cff
  doc/conf.py
  setup.cfg
  setup.py
  signac/version.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove pre-commit CI checks (we use the pre-commit.ci service instead).
  .circleci/config.yml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove pre-commit requirements file.
  requirements/requirements-precommit.txt
Owners: @glotzerlab/signac-maintainers

Release 1.7.0 (#564)
  .circleci/config.yml
  .zenodo.json
  CITATION.cff
  changelog.txt
  doc/conf.py
  requirements/requirements-precommit.txt
  setup.cfg
  setup.py
  signac/version.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors, @glotzerlab/signac-maintainers

Small refactors for clearer logic.
  signac/contrib/job.py
  signac/contrib/project.py
  signac/sync.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update signac/contrib/project.py
  signac/contrib/project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Small refactors for clearer logic. (#566)
  signac/contrib/job.py
  signac/contrib/project.py
  signac/sync.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Owners: @glotzerlab/signac-maintainers

Add types-filelock and types-redis as additional dependencies.
  .pre-commit-config.yaml
Owners: @glotzerlab/signac-maintainers

Remove deprecated mpipool and filesystems modules.
  signac/__init__.py
  signac/contrib/__init__.py
  signac/contrib/filesystems.py
  signac/contrib/mpipool.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove references to mpipool and filesystems from configuration/setup files.
  doc/conf.py
  setup.cfg
  setup.py
  signac/__init__.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove JSONDict component.
  signac/__init__.py
  signac/common/host.py
  signac/contrib/indexing.py
  signac/core/attrdict.py
  signac/core/json.py
  signac/core/jsondict.py
  signac/core/synceddict.py
  signac/errors.py
  tests/test_buffered_mode.py
  tests/test_jsondict.py
  tests/test_sync.py
  tests/test_synced_attrdict.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Fix documentation warnings.
  doc/api.rst
  doc/conf.py
  signac/synced_collections/data_types/synced_collection.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Deprecate methods for state point backup files.
  signac/contrib/project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Add comments to explain behavior changes in signac 2.0.
  signac/contrib/project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update changelog.
  changelog.txt
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Add missing language specifier to RST code-block directive.
  signac/synced_collections/buffers/buffered_collection.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove deprecated mpipool and filesystems modules. (#575)
  doc/conf.py
  setup.cfg
  setup.py
  signac/__init__.py
  signac/contrib/__init__.py
  signac/contrib/filesystems.py
  signac/contrib/mpipool.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove JSONDict component. (#577)
  signac/__init__.py
  signac/common/host.py
  signac/contrib/indexing.py
  signac/core/attrdict.py
  signac/core/json.py
  signac/core/jsondict.py
  signac/core/synceddict.py
  signac/errors.py
  tests/test_buffered_mode.py
  tests/test_jsondict.py
  tests/test_sync.py
  tests/test_synced_attrdict.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Revert "[pre-commit.ci] auto fixes from pre-commit.com hooks"
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

removing access module and reset/update statepoint from project.py
  doc/api.rst
  signac/__main__.py
  signac/contrib/project.py
  tests/test_job.py
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

removing deprecated get_id() from project.py
  signac/contrib/project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

removing index building methods
  doc/api.rst
  signac/contrib/project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

beginning to pull out deprecated from project.py
  signac/contrib/project.py
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Revert "beginning to pull out deprecated from project.py"
  signac/contrib/project.py
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Simplify benchmark setup code for readability (no observed impact on benchmark times).
  benchmark.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Add missing test cases for test_find_jobs from the removed function test_find_job_ids.
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

removing deprecated get_id()
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove tests that are exact duplicates.
  tests/test_job.py
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

updating more instances of project.get_id()
  benchmark.py
  doc/api.rst
  signac/__main__.py
  signac/contrib/project.py
  tests/test_project.py
  tests/test_shell.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove easily deprecated functions from project.py (#574)
  benchmark.py
  doc/api.rst
  signac/__main__.py
  signac/contrib/project.py
  tests/test_job.py
  tests/test_project.py
  tests/test_shell.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove database and host components.
  signac/__init__.py
  signac/__main__.py
  signac/common/connection.py
  signac/common/crypt.py
  signac/common/host.py
  signac/contrib/utility.py
  signac/db/__init__.py
  signac/db/database.py
  tests/test_db.py
  tests/test_indexing.py
  tests/test_shell.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update docs/setup files.
  doc/installation.rst
  setup.cfg
  setup.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove utility function.
  signac/core/utility.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

removing job.get_id()
  doc/api.rst
  signac/contrib/job.py
  tests/test_buffered_mode.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

switching get_id() to id in benchmarks
  benchmark.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove deprecated job.get_id() (#578)
  benchmark.py
  doc/api.rst
  signac/contrib/job.py
  tests/test_buffered_mode.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors
