Repository glotzerlab/signac, changes with the owners that .github/CODEOWNERS names for each.
All owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors, @glotzerlab/signac-maintainers

Use Python 3.11 for package releases, enable 3.11 testing with newest dependencies.
  .github/workflows/publish-packages.yml
  .github/workflows/run-pytest.yml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update GitHub Actions versions.
  .github/workflows/publish-packages.yml
  .github/workflows/run-pytest.yml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update zarr.
  requirements/requirements-test-optional.txt
Owners: @glotzerlab/signac-maintainers

Update coverage.
  requirements/requirements-test.txt
Owners: @glotzerlab/signac-maintainers

Update pre-commit hooks for good measure.
  .pre-commit-config.yaml
Owners: @glotzerlab/signac-maintainers

Run codecov with token.
  .github/workflows/run-pytest.yml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update GitHub Actions and dependency versions. (#901)
  .github/workflows/publish-packages.yml
  .github/workflows/run-pytest.yml
  .pre-commit-config.yaml
  requirements/requirements-test-optional.txt
  requirements/requirements-test.txt
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors, @glotzerlab/signac-maintainers

Use Python 3.11 for package releases, enable 3.11 testing with newest dependencies. (#895)
  .github/workflows/publish-packages.yml
  .github/workflows/run-pytest.yml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update changelog.
  changelog.txt
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update Zenodo metadata.
  .zenodo.json
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update pre-commit hooks.
  .pre-commit-config.yaml
Owners: @glotzerlab/signac-maintainers

Pre-release 2.0.0 (#902)
  .pre-commit-config.yaml
  .zenodo.json
  changelog.txt
Owners: @glotzerlab/signac-maintainers, @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove Zenodo.
  .bumpversion
  .sync-zenodo-metadata.py
  .zenodo.json
  CITATION.cff
  pyproject.toml
  references.bib
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update changelog.
  changelog.txt
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Add test case
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Make test pass by checking for existing old config on new init
  signac/project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove confusing variable renaming
  signac/_config.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Add note about edge case in error message
  signac/_config.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update warning to clarify what "this project" is
  signac/_config.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Warn if old schema on init_project() (#905)
  signac/_config.py
  signac/project.py
  tests/test_project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Use main.
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/run-pytest.yml
  CONTRIBUTING.md
  README.md
  doc/support.rst
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

fix: asv config
  asv.conf.json
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Apply suggestions from code review
  CITATION.cff
  pyproject.toml
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Use main. (#906)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/run-pytest.yml
  CONTRIBUTING.md
  README.md
  asv.conf.json
  doc/support.rst
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove Zenodo. (#903)
  .bumpversion
  .sync-zenodo-metadata.py
  .zenodo.json
  CITATION.cff
  changelog.txt
  pyproject.toml
  references.bib
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Fix bumpversion name.
  .bumpversion.cfg
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Update changelog.
  changelog.txt
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Bump up to version 2.0.0.
  .bumpversion.cfg
  CITATION.cff
  doc/conf.py
  pyproject.toml
  signac/version.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Release/2.0.0 (#911)
  .bumpversion.cfg
  CITATION.cff
  changelog.txt
  doc/conf.py
  pyproject.toml
  signac/version.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Fix README example init command.
  README.md
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Fix README example init command. (#913)
  README.md
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Add more descriptive error if sp and id are not provided
  signac/project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove inaccurate guidance about doc filters being removed in 3.0 (removed in 2.0 instead).
  changelog.txt
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Remove inaccurate guidance about doc filters being removed in 3.0 (removed in 2.0 instead). (#916)
  changelog.txt
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Simplify error logic.
  signac/project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Check statepoint rather than id.
  signac/project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Add more descriptive error if sp and id are not provided (#915)
  signac/project.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Use synced_collections.
  pyproject.toml
  requirements.txt
  signac/__init__.py
  signac/_synced_collections/__init__.py
  signac/_synced_collections/_caching.py
  signac/_synced_collections/backends/__init__.py
  signac/_synced_collections/backends/collection_json.py
  signac/_synced_collections/backends/collection_mongodb.py
  signac/_synced_collections/backends/collection_redis.py
  signac/_synced_collections/backends/collection_zarr.py
  signac/_synced_collections/buffers/__init__.py
  signac/_synced_collections/buffers/buffered_collection.py
  signac/_synced_collections/buffers/file_buffered_collection.py
  signac/_synced_collections/buffers/memory_buffered_collection.py
  signac/_synced_collections/buffers/serialized_file_buffered_collection.py
  signac/_synced_collections/data_types/__init__.py
  signac/_synced_collections/data_types/attr_dict.py
  signac/_synced_collections/data_types/synced_collection.py
  signac/_synced_collections/data_types/synced_dict.py
  signac/_synced_collections/data_types/synced_list.py
  signac/_synced_collections/errors.py
  signac/_synced_collections/numpy_utils.py
  signac/_synced_collections/utils.py
  signac/_synced_collections/validators.py
  signac/errors.py
  signac/job.py
  signac/migration/v1_to_v2.py
  signac/project.py
  tests/test_buffered_mode.py
  tests/test_numpy_integration.py
  tests/test_synced_collections/attr_dict_test.py
  tests/test_synced_collections/synced_collection_test.py
  tests/test_synced_collections/test_json_buffered_collection.py
  tests/test_synced_collections/test_json_collection.py
  tests/test_synced_collections/test_mongodb_collection.py
  tests/test_synced_collections/test_redis_collection.py
  tests/test_synced_collections/test_utils.py
  tests/test_synced_collections/test_validators.py
  tests/test_synced_collections/test_zarr_collection.py
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors, @glotzerlab/signac-maintainers

Add changelog entry.
  changelog.txt
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors

Use PyPI release.
  pyproject.toml
  requirements.txt
Owners: @glotzerlab/signac-committers, @glotzerlab/signac-contributors, @glotzerlab/signac-maintainers

.github/CODEOWNERS:

# Request one committer and one contributor per PR.
* @glotzerlab/signac-committers @glotzerlab/signac-contributors
# Request maintainers for changes in requirements
requirements/* @glotzerlab/signac-maintainers
requirements.txt @glotzerlab/signac-maintainers
doc/requirements.txt @glotzerlab/signac-maintainers
.pre-commit-config.yaml @glotzerlab/signac-maintainers
